.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  @media screen and (max-width: 800px) {
    padding: 10px;
    height: 60px;
    margin-bottom: 20px;
  }

  .logo-container {
    height: 100%;
    display: flex;
    width: 40%;
    padding: 12px;

    @media screen and (max-width: 800px) {
      padding: 8px;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;

      @media screen and (max-width: 800px) {
        padding: 10px;
        font-size: 14px;
      }
    }
  }
}

